<nav class="navbar navbar-dark bg-primary">
  <!-- Navbar content -->
</nav>


<div class="container">
  <div class="card mt-5" style="align-items: center;">
    <h1>WeightAcquisition Dashboard</h1>
  </div>

  <div class="card mt-5" style="padding: 20px;">
    <form #registerForm="ngForm">
      
      <div class="form-group mt-3">
        <input type="submit" value="Load the Data" class="btn btn-primary w-100" (click)="getWeightDetails()">
      </div>

      <div class="form-group mt-3">
        <input type="submit" value="Reset" class="btn btn-warning w-100" (click)="resetTable()">
      </div>

      <div class="mt-5">
        <table class="table table-bordered">
          <thead class="thead">
            <tr>
              <th>devId</th>
              <th>Time</th>
              <th>Lane</th>
              <th>Weight</th>
              <th>Velocity</th>
            </tr>
          </thead>
          <tbody class="tbody">
              <tr *ngFor="let weight of weightDetails">
                <td>{{weight.id.devId}}</td>
                <td>{{weight.id.time}}</td>
                <td>{{weight.id.lane}}</td>
                <td>{{weight.weight}}</td>
                <td>{{weight.velocity}}</td>
              </tr>
          </tbody>
        </table>
      </div>

    </form>
  </div>

 
</div>